apiVersion: v1
kind: Secret
metadata:
  name: bind9-tsig
  namespace: dns
type: Opaque
stringData:
  key.conf: |
    key "externaldns-key." {
      algorithm hmac-sha256;
      secret "${EXTERNAL_DNS_SECRET_KEY}";
    };
